body {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    letter-spacing: -1px;
}

a {
    color: #cd3e3e;
}

a:hover {
    color: #333333;
}

.profile {
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    display: block;
    margin: 50px auto;
    border: 5px solid #cd3e3e;
}

.margin-40-0 {
    margin: 40px 0;
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social li {
    display: inline;
    margin: 0 10px;
}

.social li a {
    border-radius: 50%;
    background-color: silver;
    padding: 10px;    
    color: #333333;
}

.social li a:hover {
    background-color: #cc7373;
    color: white;
}

.btn-outline-primary {
    border-color: #cd3e3e;
    color: #cd3e3e;    
}

.btn-outline-primary:hover {
    border-color: #cd3e3e;
    background-color: #cd3e3e;    
    color: white;
}

.full-width {
    width: 100%;
}